# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Mac files
.DS_Store

# Model files
*.pth
*.h5
*.pkl

# Large folders (if needed)
models/

# Runtime artifacts
backend/*.db
backend/*.index
backend/vector.meta.json
backend/temp_*.pdf
backend/uploaded_papers/
frontend/.next/
frontend/node_modules/
